/* ==========================================================================
   Author's custom styles / Samuel Brown (@samuelgbrown)
   ========================================================================== */

#landing {
    margin-top: 100px;
    text-align: center;
}

#landing .diagnose {
    font-size: 12px;
}

#landing .diagnose.full {
    color: green;
}
#landing .diagnose.half {
    color: grey;
}


#chat-text {display:none;}
#nickname-set .invalid {display:none;}
#chat .debug {display:none;}

body {
    width: 760px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
}

form {margin:0;}

input {
    font-family: 'Open Sans', sans-serif;
}

#main {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
}

#chat {
    list-style: none;
    max-height: 140px;
    height: 140px;
    overflow-y: auto;
    margin:  5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    -webkit-mask-image: -webkit-gradient(linear, left 15%, left 0, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
}

#chat li {
    margin: 5px 0;
    font-size: 12px;
    word-wrap: break-word;
}

#chat li .nickname {
    font-weight: bold;
}

#chat li i {
    color: #999;
}

#top {
    width: 740px;
    height: 320px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#bottom {
    overflow: hidden;
}

#bottom .left, #bottom .right {
    float: left;
    width: 50%;
    overflow: hidden;
}

#chat-text input[type="text"] {
    width: 270px;
}

#bottom .right {
    text-align: right;
    line-height: 30px;
}

#youtube, #room_list {
    float: left;
}

#youtube {
    width: 560px;
    overflow: hidden;
}

#youtube form {
    display: none;
    text-align: center;
    margin-top: 100px;
    opacity: 1;
}

#youtube .invalid {
    display: none;
    color: red;
    margin-top: 10px;
    font-size: 10px;
}

#youtube form input {
    margin: 0;
}

#youtube form {
    visibility: hidden;
}

#youtube iframe {
    visibility: hidden;
}

#youtube.initialized iframe {
    display: block;
}

#youtube .loading_state {
    display: block;
}
#youtube.initialized .loading_state {
    display: none;
}

#room_list {
    width: 170px;
    padding-left: 10px;
    overflow: hidden;
    height: 310px;
    overflow-y: auto;
}

#room_list h2 {
    font-size: 16px;
    margin: 0;
}

#room_list ul {
    list-style: none;
    margin: 0;
}

#set-youtube {
    display: none;
}

#set-youtube .open {
    width: 100%;
}

#set-youtube input[type="text"] {
    width: 156px;
    font-size: 11px;
}

#set-youtube .invalid {
    display: none;
    color: red;
    font-size: 10px;
}

#set-youtube .cancel {
    float: right;
    color: #333;
    font-size: 11px;
    margin-top: 2px;
}

header textarea {
    margin: 0;
    padding: 2px 5px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    resize: none;
    font-size: 10px;
    font-family: 'Lucida Console', 'Arial';
    white-space: nowrap;
    overflow: hidden;
}

header h1 {
    font-size: 28px;
    margin-bottom: 0;
}

header h1 a {
    color: #333;
}

header p .btn {
    float: right;
}

#nickname-toggle, #cancel-nickname {
    font-size: 11px;
}

#cancel-nickname {
    display: none;
}

#nickname-set .invalid {
    font-size: 12px;
    margin-top: 10px;
    color: red;
}

.init_nickname_notice {
    display: none;
    font-size: 19px;
    position: absolute;
    margin-left: 110px;
    margin-top: 140px;
}

#init_youtube.faded, #youtube iframe.faded {
    opacity: 0.1;
}

#ytframe {
    width: 560px;
    height: 315px;
}